In [32]:
import pandas as pd
import numpy as np
import seaborn as sns

In [33]:
hsp=pd.read_csv("Boston.csv")

In [34]:
hsp.head()

,Unnamed: 0,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
0,1,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,2,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,3,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,4,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,5,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [35]:
del hsp['Unnamed: 0']

In [36]:
hsp.head()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [37]:
#Input and Output of Data
X = hsp.iloc[:,:13]

y = hsp.iloc[:,13:]

In [38]:
X.head()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33

In [39]:
y.head()

   medv
0  24.0
1  21.6
2  34.7
3  33.4
4  36.2

In [40]:
#split the data for Training and Testing.
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size = 0.2)

In [41]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(404, 13)
(102, 13)
(404, 1)
(102, 1)

In [42]:
#fitting the model
from sklearn import linear_model
regr = linear_model.LinearRegression()
regr.fit(X_train,y_train)

LinearRegression()

In [43]:
print('Co-efficient',regr.coef_)
print('Intercept',regr.intercept_)

Co-efficient [[-1.26784974e-01  4.90259175e-02  5.38976511e-03  4.03105773e+00
  -1.63250000e+01  4.20332968e+00 -4.83764281e-03 -1.56268789e+00
   3.19885771e-01 -1.12642055e-02 -7.67894338e-01  1.19868194e-02
  -5.52810458e-01]]
Intercept [29.39516144]

In [44]:
y_pred = regr.predict(X_test)

In [45]:
pd.DataFrame(y_pred).head()

           0
0  22.565567
1  14.053443
2  22.376969
3  17.601019
4  17.555928

In [46]:
y_test.head()

     medv
205  22.6
129  14.3
333  22.2
9    18.9
458  14.9

In [47]:
#Evaluation(We compare Actual Y with Predicted y)
from sklearn.metrics import mean_squared_error,r2_score
print(r2_score(y_test,y_pred))

0.6985434504560133